# =========================
# 1. Môi trường ảo (Virtual Environment)
# =========================
venv/
.venv/
env/

# Libraries & Heavy binaries
vendor/
*.dll
*.pyd
*.so


# OS files
.DS_Store
Thumbs.db
# =========================
# 2. File rác và Cache của Python
# =========================
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# =========================
# 3. Dữ liệu
# =========================
data/*
!data/.gitkeep

# =========================
# 4. Bảo mật & Biến môi trường
# =========================
.env
.env.local
secrets.toml
.streamlit/secrets.toml

# =========================
# 5. File tạm thời của hệ thống
# =========================
src/data/
src/models/
**/__pycache__/

# DVC
.dvc/config.local
.dvc/tmp/
.dvc/cache/

# IDEs
.vscode/
.idea/
*.swp

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log



